html, body,  #canvas_wrap
    height: 100%
    
body
    display: flex
    
#editor
    flex: 1
#canvas_wrap
    position: relative
    flex: 2
    
    button
        position: absolute
        left: 10px
        top: 10px
    
    canvas 
        margin: auto
        display: block
    